
ul.tabs li a, ul.tabs li p{
  text-decoration: none;
  margin-top: 5px;
  color: #696969;
  font-weight: bold;
}

.bank-button img{
  height: 50px;
  width: 120px;
  background: none;
}
.bank-button{
  margin-bottom: 50px;
  margin-left: 10px;
  display: inline;
}

ul.tabs{
  list-style: none;
  text-align: center;
}

ul.tabs>.col-md-3>li,ul.tabs>.col-sm-6>li{
  background: none;
  color: #222;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #c9c9c9;
      border-radius: 4px;

}
.payment-container{
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    margin-bottom: 50px;
}
.payment-icon{
  height:69px;
  color: #0463a8;
  font-size: 70px;
}
@media(min-width:960px){
  .payment-icon{
    height:70px;
  }
}
ul.tabs li.active{
  background: #ededed;
  color: #222;
}


.tab-content.active{
  display: block;
}
.tab-content>.col-md-12{
  margin-top:40px;
}
.tab-content .tab:not(.active){
  display: none;
}
.tabs{
  -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.submit-btn{
      margin: 0px 20px 10px 10px;
      width:250px;
          height: 40px;
}
.panel-body{
  padding-top:0px;
}
