@font-face {
    font-family: 'Sortdecai';
    src: url('../fonts/fonts/sortdecai_brush_script-webfont.woff2') format('woff2'),
         url('../fonts/fonts/sortdecai_brush_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body,#page, header { height:100%;}
body{
  padding:0;margin:0;
}
.header-container{
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-right{
  margin-right: 0px;
}
.navbar-default{
  background-color: transparent;
  border-color: transparent;

}
.navbar-custom .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 2em;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #212121;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: transparent;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: gray;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: gray;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 5px 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    transition: padding 0.5s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
.navbar-custom.affix .navbar-toggle{
  color:gray;
}
  .navbar-custom.affix {
        box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
    padding: 8px 0;
    background-color: white;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 2em;
    color:gray;
  }
  .navbar-custom.affix .nav li a {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      color: gray;


}
#myNav{
  margin-top: 54px;
}
/*
collapse
*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

  .parent-header {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .child-header {
      transition: all 2s ease;
      background:url('../images/header.jpg') no-repeat;
      background-attachment:fixed;
      background-position:center;
      background-size:cover;
      filter:brightness(.7);
      z-index: -1;
      position: absolute;
      height: 60%;
      width: 100%;
  }
